<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
<httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,PUT,DELETE,OPTIONS" />
     </customHeaders>
   </httpProtocol>
        <cors enabled="true">
            <add origin="*">
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                    <add method="GET" />
                    <add method="POST" />
                    <add method="DELETE" />
                    <add method="OPTIONS" />
                    <add method="PUT" />
                </allowMethods>
            </add>
        </cors>

    </system.webServer>
</configuration>
